########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022  moggieuk#6538 (discord) moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type MMB10
#
[mcu mmu]
canbus_uuid: a3997a0e20b4	# Change to `canbus_uuid: 1234567890` for CANbus setups

# [mcu mmu2]
# canbus_uuid: 5e8198514ee1	# Change to `canbus_uuid: 1234567890` for CANbus setups

# PIN ALIASES FOR MMU MCU BOARD ----------------------------------------------------------------------------------------
# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS. The names match those
# referenced in the mmu_hardware.cfg file. If you get into difficulty you can also comment out this aliases definition
# completely and configure the pin names directly into mmu_hardware.cfg. However, use of aliases is encouraged.

# Note: that aliases are not created for TOOLHEAD_SENSOR, EXTRUDER_SENSOR or SYNC_FEEDBACK_SENSORS because those are
# most likely on the printer's main mcu. These should be set directly in mmu_hardware.cfg
#
[board_pins mmu]
mcu: mmu # Assumes using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_UART=PA10,
    MMU_GEAR_STEP=PB15,
    MMU_GEAR_DIR=PB14,
    MMU_GEAR_ENABLE=PA8,
    MMU_GEAR_DIAG=,

    MMU_GEAR_UART_1=PC7,
    MMU_GEAR_STEP_1=PD2,
    MMU_GEAR_DIR_1=PB13,
    MMU_GEAR_ENABLE_1=PD1,
    MMU_GEAR_DIAG_1=,

    MMU_GEAR_UART_2=PC6,
    MMU_GEAR_STEP_2=PD0,
    MMU_GEAR_DIR_2=PD3,
    MMU_GEAR_ENABLE_2=PA15,
    MMU_GEAR_DIAG_2=,

    MMU_GEAR_UART_3=PA9,
    MMU_GEAR_STEP_3=PB6,
    MMU_GEAR_DIR_3=PB7,
    MMU_GEAR_ENABLE_3=PB5,
    MMU_GEAR_DIAG_3=,

    MMU_ENCODER=PA3,
    MMU_GATE_SENSOR=PA4,
    MMU_NEOPIXEL=PA2,
    MMU_NEOPIXEL_LOGO=PA1,

    MMU_PRE_GATE_0=PB9,
    MMU_PRE_GATE_1=PB8,
    MMU_PRE_GATE_2=PC15,
    MMU_PRE_GATE_3=PC13,

    MMU_EJECT_0=PC14,
    MMU_EJECT_1=PB12,
    MMU_EJECT_2=PB11,
    MMU_EJECT_3=PB10,

